.root {
  width: 100%;
  background-color: #4f4a4a;
  height: 500px;
}

.headline{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;

  .close__button {
    padding: 0;
    margin: 0;
    border: none;
    background-color: #fff;
    font-size: 22px;
    color: #91a0a6;
  }
  .close__button:hover {
    color: #2a3339;
  }
}

.card__root {
  display: flex;
  justify-content: space-between;

  .image__card {
    display: flex;
    img {
      max-width: 100%;
      max-height: 50%;
    }
    width: 70%;
    height: 80%;
    object-fit: contain;
  }
  .post__description {
    width: 30%;
  }
}

